.nav {
  box-sizing: border-box;
}

@media (min-width: 831px) {
  .nav {
    font-size: 18px;
    font-weight: 500;
  }
}

@media (max-width: 830px) {
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    text-align: right;
    width: 100%;
    padding: 40px 0;
    display: none;
  }
}
