.header__image-menu {
  padding-left: 25px;
  padding-right: 19px;
  box-sizing: border-box;
}

@media (max-width: 830px) {
  .header__image-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}